<mat-toolbar color="primary" class="trf-header">
    <div class="trf-icon">
        <img src="../../../../assets/images/trf-icon.png" height="40">
        <span>Trustify</span>
    </div>
    <div class="trf-options">
        <button mat-icon-button>
            <mat-icon>person</mat-icon>
        </button>
        <button mat-icon-button (click)="openAdminApp()">
            <mat-icon>manage_accounts</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</mat-toolbar>