<div class="trf-nav-menu">
    <ul>
        <li routerLink="textual-content">
            <mat-icon>article</mat-icon>
            <span>Textual content</span>
        </li>
        <li routerLink='image-content'>
            <mat-icon>image</mat-icon>
            <span>Images</span>
        </li>
        <li routerLink="sections">
            <mat-icon>newspaper</mat-icon>
            <span>Sections</span>
        </li>
        <li routerLink="image-generator">
            <mat-icon>draw_collage</mat-icon>
            <span>Image finder</span>
        </li>
    </ul>
</div>