<div class="trf-column trf-modal">
    <h1 mat-dialog-title class="trf-title">
        Register new user
    </h1>
    <div mat-dialog-content class="trf-content">
        <div class="trf-column trf-start">
            <div [formGroup]="registerUserFormGroup" class="trf-column">
                <mat-form-field>
                    <mat-label for="firstName">First name
                    </mat-label>
                    <input matInput id="firstName" formControlName="firstName" type="text" minlength="2"
                        autocomplete="off">
                    <mat-error>
                        First name is invalid
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="lastName">Last name
                    </mat-label>
                    <input matInput id="lastName" formControlName="lastName" type="text" minlength="2"
                        autocomplete="off">
                    <mat-error>
                        Last name is invalid
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="username">Username
                    </mat-label>
                    <input matInput id="username" formControlName="username" type="text" minlength="2" maxlength="36"
                        autocomplete="off">
                    <mat-error>
                        Username is invalid
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="email">Email
                    </mat-label>
                    <input matInput id="email" formControlName="email" type="text" minlength="2" maxlength="36"
                        autocomplete="off">
                    <mat-error>
                        Email is invalid
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="emailVerified">Email verified
                    </mat-label>
                    <input matInput id="emailVerified" formControlName="emailVerified" type="text"
                        autocomplete="off">
                    <mat-error>
                        Email verified is invalid
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="enabled">Enabled
                    </mat-label>
                    <input matInput id="enabled" formControlName="enabled" type="text" autocomplete="off">
                    <mat-error>
                        Enabled is invalid
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="password">Password
                    </mat-label>
                    <input matInput id="password" formControlName="password" type="password" minlength="5"
                        maxlength="16" autocomplete="off">
                    <mat-error>
                        Password is invalid
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="confirmPassword">Confirm password
                    </mat-label>
                    <input matInput id="confirmPassword" formControlName="confirmPassword" type="password" minlength="5"
                        maxlength="16" autocomplete="off">
                    <mat-error>
                        Passwords are not the same
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="requiredActions">Required actions
                    </mat-label>
                    <input matInput id="requiredActions" formControlName="requiredActions" type="text" minlength="5"
                        maxlength="128" autocomplete="off">
                    <mat-error>
                        Required actions are invalid
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-divider></mat-divider>

            <div mat-dialog-actions class="trf-dialog_actions">
                <button color="primary" mat-raised-button [disabled]="registerUserFormGroup.invalid" type="submit"
                    (click)="confirm()" class="trf-confirm-button ">Yes</button>
                <button color="secondary" mat-raised-button (click)="close()" class="trf-cancel-button ">No</button>
            </div>
        </div>