<div class="trf-row trf-end">
    <mat-select style="margin:10px;width: 300px;" id="selectedClient" fxFlex="15%" [(value)]="selectedClient"
        placeholder="{{selectedClient?.name??'Select client'}}" (selectionChange)="selectClient($event.value)">
        <mat-option *ngFor="let client of clients" [value]="client">
            {{client?.clientId}}
        </mat-option>
    </mat-select>
    <button mat-icon-button (click)="addNewRole()"><mat-icon>add</mat-icon></button>
</div>
<table mat-table [dataSource]="dataSource" class="table mat-elevation-z8" matSort #tbSort="matSort">
    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef class="trf-20-col">Role</th>
        <td mat-cell *matCellDef="let element">
            <div class="content-text">{{element.name}}</div>
        </td>
    </ng-container>
    <ng-container matColumnDef="clientRole">
        <th mat-header-cell *matHeaderCellDef class="trf-10-col">ClientRole</th>
        <td mat-cell *matCellDef="let element">
            <div class="content-text">{{element.clientRole}}</div>
        </td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef class="trf-30-col">Description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
            Actions</th>
        <td mat-cell *matCellDef="let element">
            <div class="trf-table-actions">
                <button (click)="delete(element)" mat-icon-button matTooltipPosition="above"
                    matTooltipClass="tooltip" matTooltip="Delete role">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="trf-table-header"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="trf-table-row" (click)="select(row)">
    </tr>
</table>
<mat-paginator class="trf-table-paginator" #paginatorPageSize showFirstLastButtons
    [pageSizeOptions]="pageSizes"></mat-paginator>