<div class="trf-column trf-modal">
    <h1 mat-dialog-title class="trf-title">
        Add new textual content
    </h1>
    <div mat-dialog-content class="trf-content" style="min-height: 30vh;">
        <div class="trf-column trf-start">
            <div [formGroup]="addTextFormGroup" class="trf-column">
                <mat-form-field>
                    <mat-label for="title">Title
                    </mat-label>
                    <input matInput id="title" formControlName="title" type="text" minlength="2"
                        autocomplete="off">
                    <mat-error>
                        Title is invalid
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="text">Text
                    </mat-label>
                    <textarea style="height: 20vh;" matInput id="text" formControlName="text" type="text" minlength="2" maxlength="2000"
                        autocomplete="off"></textarea>
                    <mat-error>
                        Text is invalid
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="trf-dialog_actions">
        <button color="primary" mat-raised-button [disabled]="addTextFormGroup.invalid" type="submit"
            (click)="confirm()" class="trf-confirm-button ">Yes</button>
        <button color="secondary" mat-raised-button (click)="close()" class="trf-cancel-button ">No</button>
    </div>
</div>