<table mat-table [dataSource]="dataSource" class="table mat-elevation-z8" matSort #empTbSort="matSort">
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef class="trf-10-col">Title</th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef class="trf-30-col">Text </th>
        <td mat-cell *matCellDef="let element">
            <div class="content-text">{{element.text}}</div>
        </td>
    </ng-container>
    <ng-container matColumnDef="length">
        <th mat-header-cell *matHeaderCellDef class="trf-5-col">Length </th>
        <td mat-cell *matCellDef="let element"> {{element.length}} </td>
    </ng-container>
    <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef class="trf-10-col">Created on </th>
        <td mat-cell *matCellDef="let element"> {{element.createdOn| date:'MMM d, y, H:mm'}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="mb-products-table-header-large">
            Actions</th>
        <td mat-cell *matCellDef="let element">
            <div class="trf-table-actions">
                <button mat-icon-button matTooltipPosition="above" matTooltipClass="tooltip" matTooltip="Details">
                    <mat-icon>details</mat-icon>
                </button>
                <button mat-icon-button matTooltipPosition="above" matTooltipClass="tooltip" matTooltip="Edit text">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button matTooltipPosition="above" matTooltipClass="tooltip" matTooltip="Delete text">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mb-table-header"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mb-table-row" (click)="select(row)">
    </tr>
</table>
<mat-paginator class="trf-table-paginator" #paginatorPageSize showFirstLastButtons
    [pageSizeOptions]="pageSizes"></mat-paginator>