/* You can add global styles to this file, and also import other style files */

:root {
    --trf-primary-font: #283593;
    --trf-secondary-font: #1A237E;
    --trf-primary-background: #E8EAF6;
    --trf-secondary-background: #303F9F;
    --trf-card-background: white;
    --trf-primary: #3F51B5;
    --trf-confirm: #9FA8DA;
    --trf-confirm-font: #E8EAF6;
    --trf-cancel: #F48FB1;
    --trf-neg-primary: #F8BBD0;
    --trf-neg-primary-font: #FCE4EC;
    --trf-background-tooltip: #9FA8DA;
    --trf-background-tooltip-error: #F48FB1;
    --trf-tooltip-font: #1A237E;

}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: var(--trf-primary-font);
}

.trf-cancel-button {
    background-color: var(--trf-neg-primary);
    color: var(--trf-neg-primary-font);
    width: 100px;
    text-align: center;
}

.trf-confirm-button {
    background-color: var(--trf-primary-background);
    color: var(--trf-primary-font);
    width: 100px;
    text-align: center;
}

.trf-column {
    display: flex;
    flex-direction: column;
}

.trf-row {
    display: flex;
    flex-direction: row;
}

.trf-end {
    justify-content: end;
}

.trf-center {
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}

.trf-space-between {
    justify-content: space-between;
}

.trf-start {
    justify-content: start;
}

.trf-dialog-size {
    width: 30vw;
    height: 40vh;
    min-height: 40vh;
}

.trf-dialog-size-large {
    width: 50vw;
    min-height: 50vh;
}

.trf-tooltip {
    /* your own custom styles here */
    /* e.g. */
    background-color: var(--trf-background-tooltip) !important;
    color: var(--trf-tooltip-font) !important;
}


.mat-mdc-snack-bar-container {
    &.trf-snackbar {
        --mdc-snackbar-container-color: var(--trf-background-tooltip);
        --mat-mdc-snack-bar-button-color: var(--trf-tooltip-font);
        --mdc-snackbar-supporting-text-color: var(--trf-tooltip-font);
    }
}

.mat-mdc-snack-bar-container {
    &.trf-snackbar-error {
        --mdc-snackbar-container-color: var(--trf-background-tooltip-error);
        --mat-mdc-snack-bar-button-color: var(--trf-neg-primary-font);
        --mdc-snackbar-supporting-text-color: var(--trf-neg-primary-font);
    }
}