
.trf-modal {
    background-color: var(--trf-primary-background);
    padding: 20px;
}

.trf-title {
    color: var(--trf-primary-font) !important;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.trf-content {
    color: var(--trf-primary-font) !important;
    height: 70%;
    margin: 0;
    padding: 0;
}

.trf-dialog-size {
    width: 30vw;
    height: 40vh;
    min-height: 40vh;
}

.trf-dialog_actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
    margin-left: 20px !important;
}

.trf-dialog-size-large {
    width: 50vw;
    min-height: 50vh;
}

.trf-roles-list {
    margin: 20px 0px;
}

.trf-role-not-selected {
    background-color: var(--trf-neg-primary) !important;
    color: var(--trf-neg-primary-font) !important;
}

.trf-role-selected {
    background-color: var(--trf-confirm) !important;
    color: var(--trf-confirm-font) !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: var(--trf-confirm) !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: var(--trf-confirm);
}

::ng-deep .mat-form-field {
    border-bottom: 1px solid var(--trf-confirm-font);
    width: 50%;
}