<div class="trf-layout-container">
    <trf-header></trf-header>
    <trf-nav-menu></trf-nav-menu>
    <div class="trf-layout">
        <div class="trf-layout-content">
            <div class="trf-features">
                <mat-card class="trf-features-card">
                    <mat-card-content>
                        <router-outlet />
                    </mat-card-content>
                </mat-card>
            </div>
            <mat-card class="trf-role-description">
                <mat-card-title>Premium user</mat-card-title>
                <mat-card-content>
                    <p>This user has the options to list all features. Permissions are: </p>
                    <ul>
                        <li>Write</li>
                        <li>Read</li>
                        <li>Delete</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <trf-footer></trf-footer>
</div>