<div class="trf-layout-container">
    <trf-header></trf-header>
    <div class="trf-layout">
        <div class="trf-layout-content">
            <trf-nav-menu></trf-nav-menu>
            <div class="trf-features">
                <mat-card class="trf-features-card">
                    <mat-card-content>
                        <router-outlet />
                    </mat-card-content>
                </mat-card>
            </div>

        </div>
    </div>
    <trf-footer></trf-footer>
</div>