<mat-accordion class="trf-large-content" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="trf-large-content-title">
                <mat-icon style="margin-right: 10px;">folder</mat-icon>
                Folder1
            </mat-panel-title>
            <mat-panel-description>
                2GB 20.12.2024. 18:00
                <div class="trf-folder-actions">
                    <button mat-icon-button><mat-icon>download</mat-icon></button>
                    <button mat-icon-button><mat-icon>delete</mat-icon></button>
                    <button mat-icon-button><mat-icon>add</mat-icon></button>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list [cols]="4" rowHeight="30vh" gutterSize="10px">
            <mat-grid-tile>
                <mat-card class="trf-document">
                    <mat-card-header class="trf-document-header">
                        <mat-icon mat-card-avatar>description</mat-icon>
                        <mat-card-title>File1</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ul class="trf-document-content">
                            <li> Uploaded on: 12.02.2023 12:00</li>
                            <li> Size: 10GB</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions class="trf-document-actions">
                        <button mat-icon-button><mat-icon>delete</mat-icon></button>
                        <button mat-icon-button><mat-icon>download</mat-icon></button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="trf-document">
                    <mat-card-header class="trf-document-header">
                        <mat-icon class="trf-icon" mat-card-avatar>description</mat-icon>
                        <mat-card-title>File1</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ul class="trf-document-content">
                            <li> Uploaded on: 12.02.2023 12:00</li>
                            <li> Size: 10GB</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions class="trf-document-actions">
                        <button mat-icon-button><mat-icon>delete</mat-icon></button>
                        <button mat-icon-button><mat-icon>download</mat-icon></button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="trf-document">
                    <mat-card-header class="trf-document-header">
                        <mat-icon mat-card-avatar>description</mat-icon>
                        <mat-card-title>File1</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ul class="trf-document-content">
                            <li> Uploaded on: 12.02.2023 12:00</li>
                            <li> Size: 10GB</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions class="trf-document-actions">
                        <button mat-icon-button><mat-icon>delete</mat-icon></button>
                        <button mat-icon-button><mat-icon>download</mat-icon></button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="trf-large-content-title">
                <mat-icon style="margin-right: 10px;">folder</mat-icon>
                Folder2
            </mat-panel-title>
            <mat-panel-description>
                2GB 20.12.2024. 18:00
                <div class="trf-folder-actions">
                    <button mat-icon-button><mat-icon>download</mat-icon></button>
                    <button mat-icon-button><mat-icon>delete</mat-icon></button>
                    <button mat-icon-button><mat-icon>add</mat-icon></button>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list [cols]="4" rowHeight="30vh" gutterSize="10px">
            <mat-grid-tile>
                <mat-card class="trf-document">
                    <mat-card-header class="trf-document-header">
                        <mat-icon mat-card-avatar>description</mat-icon>
                        <mat-card-title>File1</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ul class="trf-document-content">
                            <li> Uploaded on: 12.02.2023 12:00</li>
                            <li> Size: 10GB</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions class="trf-document-actions">
                        <button mat-icon-button><mat-icon>delete</mat-icon></button>
                        <button mat-icon-button><mat-icon>download</mat-icon></button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="trf-document">
                    <mat-card-header class="trf-document-header">
                        <mat-icon class="trf-icon" mat-card-avatar>description</mat-icon>
                        <mat-card-title>File1</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ul class="trf-document-content">
                            <li> Uploaded on: 12.02.2023 12:00</li>
                            <li> Size: 10GB</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions class="trf-document-actions">
                        <button mat-icon-button><mat-icon>delete</mat-icon></button>
                        <button mat-icon-button><mat-icon>download</mat-icon></button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>
</mat-accordion>