<div style=" justify-content: center;padding: 20px;">
    <div style="display: flex; flex-direction: row;justify-content:end;margin-bottom: 20px;">
        <button mat-button color="primary" (click)="addSection()">New section</button>
    </div>
    <mat-grid-list [cols]="3" rowHeight="25vh" gutterSize="10px">
        @for (tile of displaysectionList; track tile) {
        <mat-grid-tile>
            <mat-card style="padding:30px;width: 90%;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                <mat-card-title>{{tile.title}}</mat-card-title>
                <mat-card-subtitle class="content-text">{{tile.description}}</mat-card-subtitle>
                <button mat-button (click)="selectSection(tile)">Select</button>
            </mat-card>
        </mat-grid-tile>
        }
    </mat-grid-list>
    <div style="display: flex; flex-direction: row;justify-content:space-between;">
        <button mat-icon-button [hidden]="!canSeePrevious" (click)="pageDown()" size="2x">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <div [hidden]="!canSeeNext"></div>
        <button mat-icon-button (click)="pageUp()" size="2x" [hidden]="!canSeeNext">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
    @if(selectedSection){
    <trf-section [section]="selectedSection"></trf-section>
    }
</div>