<div class="trf-row trf-end">
    <button mat-icon-button (click)="addNewUser()"><mat-icon>person_add</mat-icon></button>
</div>
<table mat-table [dataSource]="dataSource" class="table mat-elevation-z8" matSort #tbSort="matSort">
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef class="trf-10-col">First name</th>
        <td mat-cell *matCellDef="let element">
            <div class="content-text">{{element.firstName}}</div>
        </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef class="trf-10-col">Last name</th>
        <td mat-cell *matCellDef="let element">
            <div class="content-text">{{element.lastName}}</div>
        </td>
    </ng-container>
    <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef class="trf-10-col">Username</th>
        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="trf-10-col">Email</th>
        <td mat-cell *matCellDef="let element">
            <div class="content-text">{{element.email}}</div>
        </td>
    </ng-container>

    <ng-container matColumnDef="createdTimestamp">
        <th mat-header-cell *matHeaderCellDef class="trf-10-col">Created Timestamp</th>
        <td mat-cell *matCellDef="let element">
            <div class="content-text">{{element.createdTimestamp}}</div>
        </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="mb-products-table-header-large">
            Actions</th>
        <td mat-cell *matCellDef="let element">
            <div class="trf-table-actions">
                <button mat-icon-button matTooltipPosition="above" (click)="getDetails(element.id)" matTooltipClass="tooltip" matTooltip="Details">
                    <mat-icon>info</mat-icon>
                </button>
                <button mat-icon-button matTooltipPosition="above" (click)="groupAdd(element.id)" matTooltipClass="tooltip" matTooltip="Add to group">
                    <mat-icon>group_add</mat-icon>
                </button>
                <button mat-icon-button matTooltipPosition="above" (click)="groupRemove(element.id)" matTooltipClass="tooltip" matTooltip="Remove from group">
                    <mat-icon>group_remove</mat-icon>
                </button>
                <button (click)="delete(element.id)" mat-icon-button matTooltipPosition="above"
                    matTooltipClass="tooltip" matTooltip="Delete user">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="trf-table-header"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="trf-table-row" (click)="select(row)">
    </tr>
</table>
<mat-paginator class="trf-table-paginator" #paginatorPageSize showFirstLastButtons
    [pageSizeOptions]="pageSizes"></mat-paginator>