<div class="trf-column trf-modal">
    <h1 mat-dialog-title class="trf-title">
        User details
    </h1>
    <div mat-dialog-content class="trf-content">
        <div class="trf-column trf-start">
            <div class="trf-column">
                <mat-form-field>
                    <mat-label for="firstName">First name
                    </mat-label>
                    <input disabled matInput id="firstName" [value]="user.firstName" type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="lastName">Last name
                    </mat-label>
                    <input matInput id="lastName" [value]="user.lastName" type="text" disabled>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="username">Username
                    </mat-label>
                    <input matInput id="userName" [value]="user.userName" type="text" disabled>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="email">Email
                    </mat-label>
                    <input matInput id="email" [value]="user.email" type="text" disabled>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="createdTimestamp">Created timestamp</mat-label>
                    <input matInput id="createdTimestamp" [value]="user.createdTimestamp" type="text" disabled>
                </mat-form-field>

                <mat-form-field>
                    <mat-label for="emailVerified">Is email verified
                    </mat-label>
                    <input matInput id="emailVerified" [value]="user.emailVerified" type="text" disabled>
                </mat-form-field>
            </div>
            <mat-divider></mat-divider>
            Realm roles
            <div class="trf-row trf-start">
                <mat-chip-set class="trf-roles-list">
                    @for(permission of user.realmRoles; track permission){
                    <mat-chip class="trf-role-selected">
                        {{permission}}
                    </mat-chip>}
                </mat-chip-set>
            </div>
            <mat-divider></mat-divider>
            Groups
            <div class="trf-row trf-start">
                <mat-chip-set class="trf-roles-list">
                    @for(group of user.groups; track group){
                    <mat-chip class="trf-role-selected">
                        {{group}}
                    </mat-chip>}
                </mat-chip-set>
            </div>
            <mat-divider></mat-divider>
            Client roles
            <mat-chip-set class="trf-roles-list">
                @for(keypar of user.clientRoles|keyvalue; track keypar.key)
                {
                <div>
                    @for(item of keypar.value; let i=$index; track i)
                    {
                    <mat-chip class="trf-role-selected">
                        {{keypar.key}}:{{item}}
                    </mat-chip>
                    }
                </div>
                }
            </mat-chip-set>
        </div>
    </div>
    <div mat-dialog-actions class="trf-dialog_actions">
        <button color="primary" mat-raised-button (click)="close()" class="trf-confirm-button ">Close</button>
    </div>
</div>